.navbar {
  background-color: #2196f3;
  position: sticky;
  top: 0;
  width: 100%;
}

.nav-link {
  color: #fff;
  font-weight: 500;
}

.logo span{
  margin-left: 0.3rem;
  color: #fff;
  display: inline;
  font-weight: 500;
}