.welcom {
  background-color: black;
  color: #fff;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.4);
}

.welcom h1 {
  font-size: 2.2rem;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.register-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  border: 1px solid rgb(171, 170, 170);
  padding-bottom: 20px;
  margin-bottom: 50px;
  background-color: rgba(255, 255, 255, 0.727);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.4);
}

.register-title {
  background-color: rgb(215, 213, 213);
  width: 100%;
  text-align: center;
  padding: 10px 0;
  font-weight: 900;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

form {
  width: 90%;
}

.ml-button {
  margin-left: 10px;
}